@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  font-family: sans-serif;
  color: rgb(195, 247, 160);
  background-color: #333;
}

.contenedor {
  background-color: transparent;
  padding: 20px 0;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 0 55px 25px rgba(132, 230, 108, 0.133);
  margin-top: 50px;
  border-radius: 8px;
  font-size: 20px;
  margin-bottom: 40px;
}
